@model List<Ganre>
@{
    ViewData["Title"] = "افزودن کتاب";
}

<div class="mt-5 col-sm-12 col-lg-8 ps-lg-5">
    <form asp-controller="Books" asp-action="Add" method="post">
        <div class="row mb-3 mt-3">
            <div class="col-6">
                <lable class="form-label" for="title" asp-lac>عنوان کتاب: </lable>
                <input type="text" class="form-control" name="title" required maxlength="40"/> 
                <div class="form-text">حداکثر 40 کاراکتر مجاز است</div>
            </div>
            <div class="col-6">
                <lable class="form-label" for="author">نویسنده کتاب:</lable>
                <input type="text" class="form-control" name="author" required maxlength="50"/>    
                <div class="form-text">حداکثر 50 کاراکتر مجاز است</div>
            </div>
        </div>

        <div class="row mb-3 mt-3">
            <div class="col-12">
                <lable class="form-label" for="memberId">ژانر کتاب:</lable>
                <select name="ganre" class="form-select" required>
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                </select>
            </div>
            <div class="col-12 mt-2">
                <lable class="form-label" for="memberId">توضیحات:</lable>
                <textarea name="description" class="form-control" maxlength="350"></textarea>
                <div class="form-text">حداکثر 350 کاراکتر مجاز است</div>
            </div> 

        </div>

        <div class="mb-3 mt-5">
            <div class="d-grid gap-2">
                <input type="submit" class="btn btn-lg btn-dark" value="افزودن کتاب" />
            </div>
        </div>
    </form>
</div>